<!DOCTYPE html>
<html>
  <head>
    <title><%= game.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= game.title %></h1>
    <p>Game Publisher: <%= game.publisher %></p>
    <p>Game Genre: <%= game.genre %></p>
    <p>Release Year: <%= game.year %></p>
  </body>
</html>
